@mixin transition {
	-webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
@media (min-width: 768px) {
	/*---------------------------------------*/
	/*slider*/
	.slider {
		.swiper-container-main {

			.swiper-slide{
				.slide-desc {
					    top: 15%;
					    left: 95%;
					    right: 0;
					    transform: translate(-50%, -50%);
					    position: absolute;
					    text-align: center;
					    width: 100%;
					    height: 100%;
					    display: inline-block;
					    background: none !important;
				}
			}
		}
	}
	/*--------------------------------*/
	.services {

		.services-list {

			li {
				display: inline-block;
				width: 45% !important;
				height: auto;
				padding: 20px 0;
				overflow: hidden;
				.img-container {
					width: 181px;
					height: auto;
					overflow: hidden;
					border-radius: 100%;
				}
				a {
					color: #5786fe;
					font-size: 25px;
					font-weight: 400;
					line-height: 30px;
					@include transition;

					&:hover {
						color: #ff5a00;
					}

					img {
						display: block;
						max-width: 100%;
						margin: 0 auto 36px;
						text-align: center;
						border-radius: 100%;
					}
				}
			}
		}
	}
	/*--------------------------*/
	.main-map {
		background-color: #1e1e1e;
		.map-sign {
			padding-top: 43px;
			display: block !important;
			
			.map-title {
				margin: 0 auto;
				text-align: center;
				color: #5786fe;
				font-size: 50px;
				font-weight: 400;
				line-height: 80px;
			}
			.map-contact {
				margin: 0 auto 49px;
				text-align: center;
			}
			.map-phone {
				display: inline-block;
				color: #ff5a00;
				font-size: 50px;
				font-weight: 700;
				line-height: 80px;
			}
		}
	}
	/*--------------------------*/
	.booking-form {
		padding: 75px 0 67px;
		background: url('../images/booking-form-bg.png') no-repeat !important;
    	background-size: cover !important;
    	background-position: bottom !important;

    	.form-title {
    		color: white;
    		font-family: 'SFUIDisplay', sans-serif;
			font-size: 43px !important;
    	}

		#booking-form {
			overflow: hidden;
			box-sizing: border-box;
			max-width: 594px;
			width: 100% !important;
			margin: 0 auto;
			padding: 28px 60px 43px 72px;
			text-align: center;
			background: rgba(0,0,0, 0.74);
			box-shadow: 0 0 5px rgba(0, 1, 1, 0.2) !important;
			
			.book-button {
				float: right !important;
				clear: both;
			}
			
			.form-row-first {
				margin-bottom: 0 !important;
			}

			.form-row-second
			.form-row-third {
				width: 50%;
				margin-top: 0 !important;
			    overflow: hidden;

			}
		    #number-hours,
			#number-people {
				width: 120px !important;
			}
			.minus,
			.plus {
				width: 53px !important;
			}
			.form-row-second {
			    float: left;
			}
			.form-row-third {
				float: right;
			}
		}
	}
	/*--------------------------*/
}
@media (min-width: 1024px) {
	.dropdovn-menu,
	.call-us-block {
		display: none !important;
	}
	// header {
	// 	background: #ccc !important;
	// }
	.logo {
		float: left;
		max-width: 91px !important;
		height: 114px !important;
	}
	.logo-sign {
		float: left;
	    margin: 55px 0 0 10px;
	    color: white;
	    font-size: 16px;
		font-weight: 400;
		line-height: 15px;
	}
	.desctop-phone {
		float: left;
		margin: 56px 0 0 60px;
		color: white;
		font-size: 25px;
		font-weight: 700;
		line-height: 25px;
		img {
			width: 25px;
			height: 25px;
			margin-right: 10px;
		}
	}
	.desctop-lenguage-select {
		float: left;
		margin: 56px 39px 0 45px;
		font-size: 22px;
		font-weight: 400;
		line-height: 33px;
		color: #fff;
		a {
			color: #fff;
			@include transition;

			&:hover {
				color: #5786fe;
			}
		}
	}
	.reservation-button {
		float: left;
		width: 140px;
		height: 53px;
		margin:45px 0 0;
		color: #5786fe;
		font-size: 22px;
		text-align: center;
		font-weight: 400;
		line-height: 53px;
		border: 0.86px solid #5786fe;
		cursor: pointer;
		@include transition;
	}
	.desctop-menu {
		display: block !important;

		.list-menu {
			box-sizing: border-box;
			width: 100%;
			margin: 0 auto;

			li {
				display: inline-block;
				margin: 10px 5px 10px 15px;
				padding-right: 28px;
				position: relative;

				&:after {
					position: absolute;
					content: "";
					top: 0;
					right: 0;
					width: 2px;
					height: 17px;
					background: #fff;
				}
				&:last-child {
					margin-right: 0;
					padding-right: 0;
					&:after {
						content: none;
					}
				}
				a {
					color: #fff;
					font-size: 20px;
					font-weight: 300;
					line-height: 17px;
					@include transition;

					&:hover {
						color: #5786fe;
					}
				}
			}
		}
	}
	.services {
		.services-list {
			li {
			    width: 24% !important;
		    }
		}
	}
	.welcome {
		.swiper-container-mobile {
			display: none;
		}
		.swiper-container-desctop {
			display: block;
		}
	}

	footer {
		background: #000 !important;
		.footer-mobile {
			display: none;
		}

		.footer-desctop {
			width: 100%;
			padding: 56px 0 20px;
			border-bottom: 2px solid #363636;

			.column-heading {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				li {
					display: inline-block;
					margin: 0;
					font: 400 18px / 30px 'Roboto', sans-serif;
					color: #5786fe;

					&:nth-child(2) {
					    margin-left: -105px;
					}
					&:nth-child(3) {
					    margin-left: -50px;
					}
					&:nth-child(4) {
					    margin-right: 55px;
					}
				}
			}

		}
		.column-content {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin: 20px 0 53px;

			.footer-main-menu {
				li {
					a {
				    	display: block;
				    	width: 100%;
				    	height: 100%;
				    	color: #fff;
						font: 300 18px / 30px 'Roboto', sans-serif;
						@include transition;

						&:hover {
							color: #ff5a00;
						}
				    }
				}
			}
			.services-list {
				li {
					a {
						color: #fff;
						font: 300 18px / 30px 'Roboto', sans-serif;
					}
				}
			}
			.address-block {
				li {
					font: 300 18px / 30px 'Roboto', sans-serif;
					color: #fff;
					span {
						display: block;
    					margin-top: 15px;
						color: #fff;
						font: 700 22px / 46px 'Roboto', sans-serif;
					}
					a {
						display: block;
						margin-top: 20px; 
						color: #fff;
						font: 300 18px / 30px 'Roboto', sans-serif;

						img {
    						float: right;
						}
					}
				}
			}

			.social-icons {
				margin: 35px auto 38px;
				text-align: center;

				li {
					display: inline-block;
					width: 41px;
					height: 40px;
					margin: 0 15px;
					overflow: hidden;

					a {
						display: block;
						width: 41px;
						height: 40px;
						@include transition;
						img {
							max-width: 100%;
							height: auto;
							overflow: hidden;
						}
					}
					.google {
						background: url('../images/google_1.png') no-repeat center;
						&:hover {
							background: url('../images/google_2.png') no-repeat center;
						}
					}
					.facebook {
						background: url('../images/facebook_1.png') no-repeat center;
						&:hover {
							background: url('../images/facebook_2.png') no-repeat center;
						}
					}
					.twitter {
						background: url('../images/twitter_1.png') no-repeat center;
						&:hover {
							background: url('../images/twitter_2.png') no-repeat center;
						}
					}
				}
			}
		}
		.copyright {
			border-top: none !important;
			background: #363636 !important;
		}
	}	
} 