@mixin transition {
	-webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
@media (min-width: 480px) {
	.box{
		transform: translateX(-62%) !important;
	}
}
@media (min-width: 768px) {
	/*---------------------------------------*/
	/*slider*/
	.slider {


		.swiper-container-main {

			.swiper-slide{
				.slide-desc {
					    top: 15%;
					    left: 95%;
					    right: 0;
					    transform: translate(-50%, -50%);
					    position: absolute;
					    text-align: center;
					    width: 100%;
					    height: 100%;
					    display: inline-block;
					    background: none !important;
				}
			}
		}
	}
	/*--------------------------------*/
	.services {

		.services-list {

			li {
				display: inline-block;
				width: 45% !important;
				height: auto;
				padding: 20px 0;
				overflow: hidden;
				@include transition;
				.img-container {
					width: 181px;
					height: auto;
					overflow: hidden;
					border-radius: 100%;
				}
				a {
					color: #5786fe;
					font-size: 25px;
					font-weight: 400;
					line-height: 30px;

					img {
						display: block;
						max-width: 100%;
						margin: 0 auto 36px;
						text-align: center;
						border-radius: 100%;
					}
				}
			}
		}
	}
	/*--------------------------*/
	.main-map {
		background-color: #1e1e1e;
		.map-sign {
			padding-top: 43px;
			display: block !important;
			
			.map-title {
				margin: 0 auto;
				text-align: center;
				color: #5786fe;
				font-size: 50px;
				font-weight: 400;
				line-height: 80px;
			}
			.map-contact {
				margin: 0 auto 49px;
				text-align: center;
			}
			.map-phone {
				display: inline-block;
				color: #ff5a00;
				font-size: 50px;
				font-weight: 700;
				line-height: 80px;
			}
		}
	}
	/*--------------------------*/
	.booking-form {
		padding: 75px 0 67px;
		background: url('../images/booking-form-bg.png') no-repeat !important;
    	background-size: cover !important;
    	background-position: bottom !important;

    	.form-title {
    		color: white;
    		font-family: 'SFUIDisplay', sans-serif;
			font-size: 43px !important;
    	}

		#booking-form {
		    overflow:hidden;
			overflow: hidden;
			box-sizing: border-box;
			width: 100% !important;
			margin: 0 auto;
			padding: 28px 60px 43px 72px;
			text-align: center;
			background: rgba(0,0,0, 0.74);
			box-shadow: 0 0 5px rgba(0, 1, 1, 0.2) !important;
			
			.book-button {
				float: right !important;
				clear: both;
			}

			.form-row-first,
			.form-row-second,
			.form-row-third {
				float: left;
				width: 32% !important;
			}
			.form-row-second,
			.form-row-third {
				margin-left: 2% !important;
			}
			
			.form-row-first {
				margin-left: 0 !important;
			}
			.form-row-fourth,
			.form-row-fifth,
			.form-row-sixth {
				width: 32%;
    			float: left;
			}
			.form-row-fifth {
    			margin-left: 2% !important;
			}
			.form-row-fourth {
				margin-left: 0 !important;
				h3 {
					width: 67% !important;
				}
			}

			// .form-row-fifth
			// .form-row-sixth {
			// 	width: 30%;
			// 	margin-top: 0 !important;
			//     overflow: hidden;

			// }
		    
			.minus,
			.plus {
				width: 50px !important;
			}
			.form-row-fifth {
			    float: left;
			}
			.form-row-sixth {
				float: right;
			}
		}
	}
	/*--------------------------*/
	.content-page {
		.main-content {
			.blog-list {
				li {
					margin: 30px 4px !important;
				}
			}
		}
	}

	.box{
		left: 60% !important;
		transform: none !important;
	}

	/*----------contact us page-------------*/
	.contact-us-content {

		#feedback-contact-form {

			label {
				float: left;
				display: block;
				width: 32% !important;
				margin: 15px 0;
				text-align: left;
			}
			label[for="email"] {
				margin: 15px 14px !important;
			}
			label[for="message"] {
				width: 100% !important;
			}
		}
	}
	/*--------------------------------------*/
}
@media (min-width: 1024px) {

	.sidebar-list {
		display: block!important;
	}

	.main-content {
		width: 80% !important;
		text-align: left !important;
	}

	.footer-desctop {
		display: block !important;
	}
	.column-content {
		display: flex !important;
		flex-direction: row !important;
		justify-content: space-between !important;
	}

	.dropdovn-menu,
	.call-us-block {
		display: none !important;
	}
	// header {
	// 	background: #ccc !important;
	// }
	.logo {
		float: left;
		max-width: 91px !important;
		height: 114px !important;
	}
	.logo-sign {
		display: inline-block !important;
		float: left;
	    margin: 55px 0 0 10px;
	    color: white;
	    font-size: 16px;
		font-weight: 400;
		line-height: 15px;
	}
	.desctop-phone {
		display: inline-block !important;
		float: left;
		margin: 56px 0 0 35px;
		color: white;
		font-size: 25px;
		font-weight: 700;
		line-height: 25px;
		img {
			width: 25px;
			height: 25px;
			margin-right: 10px;
		}
	}
	.desctop-lenguage-select {
		display: inline-block !important;
		float: left;
		margin: 56px 35px 0 40px;
		font-size: 22px;
		font-weight: 400;
		font-family: 'SFUI Display', sans-serif;
		line-height: 33px;
		color: #fff;
		a {
			color: #fff;
			@include transition;

			&:hover {
				color: #5786fe;
			}
		}
	}
	.reservation-button {
		display: inline-block !important;
		float: left;
		width: 140px;
		height: 53px;
		margin:45px 0 0;
		color: #5786fe;
		font-size: 22px;
		text-align: center;
		font-weight: 400;
		line-height: 53px;
		border: 1px solid #5786fe;
		cursor: pointer;
		@include transition;
	}
	.desctop-menu {
		display: block !important;

		.list-menu {
			box-sizing: border-box;
			width: 100%;
			margin: 0 auto;

			li {
				display: inline-block !important;
				margin: 10px 5px 10px 15px;
				padding-right: 28px;
				position: relative;

				&:after {
					position: absolute;
					content: "";
					top: 0;
					right: 0;
					width: 2px;
					height: 17px;
					background: #fff;
				}
				&:last-child {
					margin-right: 0;
					padding-right: 0;
					&:after {
						content: none;
					}
				}
				a {
					color: #fff;
					font-size: 20px;
					font-family: 'SFUI Display', sans-serif;
					font-weight: 300;
					line-height: 17px;
					@include transition;

					&:hover {
						color: #5786fe;
					}
					.list-active {
						color: #5786fe;
					}
				}
			}
		}
	}

	/*---------------------------------------*/
	/*slider*/
	.slider {


		.swiper-container-main {
			width: 100% !important;

			.swiper-slide{
				.slide-desc {
					top: 55% !important;
					left: 92% !important;
					height: 55px !important;
					background: none !important;
					background-repeat: repeat-y !important;
					background-size: contain !important; 
					.content-desc {
						
						&> h1 {
							margin-top: -15px !important;
							font-size: 30px !important;
							line-height: 35px !important;
						}
						&> p {
							font-size: 20px !important;
							line-height: 36px !important;
						}
					}
				}
			}
		}
	}
	/*--------------------------------*/

	.services {
		.services-list {
			li {
				@include transition;
			    width: 24% !important;
		    }
		}
	}
	.welcome {
		.swiper-container-mobile {
			display: none;
		}
		.swiper-container-desctop {
			display: block;
		}
	}

#booking-form {
	#number-hours,
	#number-people {
		width: 154px !important;
	}
}



	footer {
		background: #000 !important;
		.footer-mobile {
			display: none;
		}

		.footer-desctop {
			width: 100%;
			padding: 56px 0 20px;
			border-bottom: 2px solid #363636;

			.column-heading {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				li {
					display: inline-block;
					margin: 0;
					font: 400 18px / 30px 'Roboto', sans-serif;
					color: #5786fe;

					&:nth-child(2) {
					    margin-left: -105px;
					}
					&:nth-child(3) {
					    margin-left: -50px;
					}
					&:nth-child(4) {
					    margin-right: 55px;
					}
				}
			}

		}
		.column-content {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin: 20px 0 53px;

			.footer-main-menu {
				li {
					a {
				    	display: block;
				    	width: 100%;
				    	height: 100%;
				    	color: #fff;
						font: 300 18px / 30px 'Roboto', sans-serif;
						@include transition;

						&:hover {
							color: #ff5a00;
						}
						.active-footer {
							color: #ff5a00;
						}
				    }
				}
			}
			.services-list {
				li {
					@include transition;
					a {
						color: #fff;
						font: 300 18px / 30px 'Roboto', sans-serif;
					}
				}
			}
			.address-block {
				li {
					font: 300 18px / 30px 'Roboto', sans-serif;
					color: #fff;
					span {
						display: block;
    					margin-top: 15px;
						color: #fff;
						font: 700 22px / 46px 'Roboto', sans-serif;
					}
					a {
						display: block;
						margin-top: 20px; 
						color: #fff;
						font: 300 18px / 30px 'Roboto', sans-serif;

						img {
    						float: right;
						}
					}
				}
			}

			.social-icons {
				margin: 35px auto 38px;
				text-align: center;

				li {
					display: inline-block;
					width: 41px;
					height: 40px;
					margin: 0 15px;
					overflow: hidden;

					a {
						display: block;
						width: 41px;
						height: 40px;
						@include transition;
						img {
							max-width: 100%;
							height: auto;
							overflow: hidden;
						}
					}
					.google {
						background: url('../images/google_1.png') no-repeat center;
						&:hover {
							background: url('../images/google_2.png') no-repeat center;
						}
					}
					.facebook {
						background: url('../images/facebook_1.png') no-repeat center;
						&:hover {
							background: url('../images/facebook_2.png') no-repeat center;
						}
					}
					.twitter {
						background: url('../images/twitter_1.png') no-repeat center;
						&:hover {
							background: url('../images/twitter_2.png') no-repeat center;
						}
					}
				}
			}
		}
		.copyright {
			border-top: none !important;
		}
	}	
	.content-page {
		.main-content {
			.blog-list {
				li {
					margin: 30px 1px !important;
				}
			}
		}

		/*--------------------------------------*/
		.news-more-content {

			.swiper-container-mobile {
				display: none !important;
			}

			.swiper-container-desctop {
				display: block !important;
			}
		}
		/*--------------------------------------*/
		/*--------------------------------------*/
		.services-more-content {

			.swiper-container-mobile {
				display: none !important;
			}

			.swiper-container-desctop {
				display: block !important;
			}
		}
		/*--------------------------------------*/
		.blog-more-content {

			.swiper-container-mobile {
				display: none !important;
			}

			.swiper-container-desctop {
				display: block !important;
			}
		}
	}
	.container{
	  text-align: left !important;
	}
	.lightBox{
	  margin: 5px 3px !important; 
  	}	
} 
@media (min-width: 1200px) {
	.content-page {
		.main-content {
			.blog-list {
				li {
					width: 30% !important;
					margin: 30px 16px !important;
					
					&:first-child,
					&:nth-child(4n+4)  {
						margin-left: 0 !important;
					}
					
					&:nth-child(3n+3) {
						margin-right: 0 !important;
					}
				}
			}
		}
	}
}