@mixin wideo-wrapper {
	display: block;
	max-width: 658px;
	max-height: 380px;
	overflow: hidden;
	margin: 34px auto 31px;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	text-align: center;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.school-more-page {

	.school-more-content {
		width: auto;
		overflow: hidden;
		
		.article-name {
			clear: both;
			display: block;
			margin: 8px 0 31px 0;
			color: #262b86;
			font-family: 'KelsonSans', sans-serif;
			font-size: 40px;
			font-weight: 700;
			line-height: 62px;
			text-transform: uppercase;
		}
		.article-date {
			display: block;
			margin: 27px 0 25px;
			color: #e60012;
			font-size: 16px;
			font-weight: 400;
			line-height: 18px;
		}
		.float-img {
			color: #6e6e6e;
			font-size: 18px;
			font-weight: 400;
			line-height: 25px;
		}
		.article-about {
			color: #6e6e6e;
			font-size: 18px;
			font-weight: 400;
			line-height: 25px;
		}
		.big-paragraph {
			clear :both;
			margin: 32px 0 48px;
			color: #6e6e6e;
			font-size: 18px;
			font-weight: 400;
			line-height: 25px;
		}
		.wideo-wrapper {
			@include wideo-wrapper;

		}
		.back-button {
			float: right;
			color: #e60012;
			font-size: 25px;
			font-weight: 400;
			line-height: 25px;
		}

		.ytp-large-play-button {
		    position: absolute;
		    left: 50%;
		    top: 50%;
		    width: 102px !important;
		    height: 102px !important;
		    border-radius: 100% !important;
		    margin-left: -34px;
		    margin-top: -24px;
		    -moz-transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
		    -webkit-transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
		    transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
		}
		.ytp-button {
		    border: none;
		    background-color: rgba(240, 240, 240, 0.8) !important;
		    padding: 0;
		    color: inherit;
		    text-align: inherit;
		    font-size: 100%;
		    border-radius: 100%;
		    font-family: inherit;
		    cursor: default;
		    line-height: inherit;
		}
		.html5-video-player svg {
		    pointer-events: none;
		    border-radius: 100%;
		    background: rgba(240, 240, 240, 0.8) !important;
		}
		.__web-inspector-hide-shortcut__ {
			display: none;
		}
	}
	/* Tiny Carousel */
	#slider1 {
		    max-width: 712px;
			    height: 1%;
			    margin: 0;
			    overflow: hidden;
			    position: relative;
			    padding: 0;
			    right: 0;
	    .viewport {
	    	width: 712px;
			height: 198px;
		    overflow: hidden;
		    position: relative;
		}
		.buttons {
		    // border-radius: 35px;
		    display: block;
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 47px;
		    height: 198px;
		    color: #000;
		    font-weight: lighter;
		    text-align: center;
		    line-height: 0;
		    text-decoration: none;
		    font-size: 50px;
		    background:  rgba(38,43,134,0.8);
		    z-index: 9;
		    &:hover {
			    color: #000;
			    background:  rgba(38,43,134,0.8);;
			}

			img {
				position: absolute;
			    top: 50%;
			    transform: translate(-50%, -50%);
			    left: 50%;
			    border: none;
			    line-height: 198px;
			    vertical-align: middle;
			}
		}
		.next {
		    right: 0;
		    left: auto;
		    top: 0;
		}
		.disable {
		    visibility: hidden;
		}
		.overview {
		    list-style: none;
		    position: absolute;
		    padding: 0;
		    margin: 0;
		    width: auto;
		    left: 0;
		    top: 0;
		    height: 198px;
			overflow: hidden;
		    li {
			    box-sizing: border-box;
			    float: left;
			    margin: 0 11px;
			    padding: 0 1px;
			    height: auto;
			    width: auto;
			    &:first-child {
			    	margin-left: 0;
			    }
			    &:last-child {
			    	margin-right: 0;
			    }
			 }
		}
	}
}