.testimonials-page {
	.testimonials-content {
		width: auto;
		margin: 8px 0 0 0;
		padding-bottom: 40px;
		overflow: hidden;

		.testimonials-title {
			margin: 0 0 21px 0;
			color: #262b86;
			font-family: 'KelsonSans', sans-serif;
			font-size: 40px;
			font-weight: 700;
			line-height: 62px;
			text-transform: uppercase;
		}
		.testimonials-list {
			margin: 62px auto 51px;

			li {
				display: inline-block;
				width: 100%;
				overflow: hidden;
				margin-top: 40px;

				&:first-child {
					margin-top: 0;
				}

				img {
					display: block;
				}

				.user-name {
					display: block;
					margin: 28px 0 17px;
					color: #262b86;
					font-size: 25px;
					font-weight: 400;
					line-height: 26px;
					text-transform: uppercase;
				}
				.user-date {
					display: block;
					margin-bottom: 37px;
					color: #e60012;
					font-size: 16px;
					font-weight: 400;
					line-height: 18px;
				}
				.user-about {
					font-weight: 400;
					line-height: 25px;
					color: #515151;
					font-size: 18px;
				}
			}
		}
		.pagination {
			@include pagination;
		}
	}
}