@import "compass/reset";

@import "media";

@import "services";

@import "contact";

@import "school";

@import "faq";

@import "testimonials";

@import "blog";

@import "about";

@import "services-more";

@import "blog-more";

@import "school-more";

@font-face {font-family: "Corbel";
    src: url("http://db.onlinewebfonts.com/t/c87f06ae40c78321844f2eac8b51737f.eot");
    src: url("http://db.onlinewebfonts.com/t/c87f06ae40c78321844f2eac8b51737f.eot?#iefix") format("embedded-opentype"),
    url("http://db.onlinewebfonts.com/t/c87f06ae40c78321844f2eac8b51737f.woff2") format("woff2"),
    url("http://db.onlinewebfonts.com/t/c87f06ae40c78321844f2eac8b51737f.woff") format("woff"),
    url("http://db.onlinewebfonts.com/t/c87f06ae40c78321844f2eac8b51737f.ttf") format("truetype"),
    url("http://db.onlinewebfonts.com/t/c87f06ae40c78321844f2eac8b51737f.svg#Corbel") format("svg");
}

@font-face {
    font-family: 'SFUIDisplay';
    src: url('../resorces/SFUIDisplay/sfuidisplay-bold-webfont.woff2') format('woff2'),
         url('../resorces/SFUIDisplay/sfuidisplay-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SFUIDisplay';
    src: url('../resorces/SFUIDisplay/sfuidisplay-light-webfont.woff2') format('woff2'),
         url('../resorces/SFUIDisplay/sfuidisplay-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SFUIDisplay';
    src: url('../resorces/SFUIDisplay/sfuidisplay-regular-webfont.woff2') format('woff2'),
         url('../resorces/SFUIDisplay/sfuidisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SFUIDisplay';
    src: url('../resorces/SFUIDisplay/sfuidisplay-semibold-webfont.woff2') format('woff2'),
         url('../resorces/SFUIDisplay/sfuidisplay-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body {
  font-family: 'SFUIDisplay', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
section {
	margin-top: 36px;
}
@mixin wideo-wrapper {
	display: block;
	max-width: 658px;
	max-height: 380px;
	overflow: hidden;
	margin: 34px auto 31px;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	text-align: center;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
@mixin transition {
	-webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
@mixin pagination {
	float: right;

	li {
		display: inline-block;
		margin: 0 5px;
		a {
			color: #262b86;
			font-size: 18px;
			font-weight: 400;
			line-height: 11px;
			text-transform: uppercase;
			@include transition;

			&:hover {
				color: #e60012;
			}
		}
	}
}
@mixin section-title {
	position: relative;
	margin: 0 auto;
	padding: 0 15px;
	text-align: center;
	color: #262b86;
	font-family: 'KelsonSans', sans-serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 35px;
	text-transform: uppercase;

	&:before,
	&:after {
		display: block;
		position: absolute;
		top: 45%;
		content: '';
		width: 20%;
		height: 5px;
		background-color: #e60012;
	}
	&:before {
		left: 0;
	}
	&:after {
		right: 0;
	}

	@media (min-width: 768px) {
		font-size: 40px;
		font-weight: 700;
		line-height: 77px;
	}
}
@mixin read-more {
	float: right;
	color: #e60012;
	font-size: 25px;
	font-weight: 400;
	line-height: 25px;
}
.wrapper {
	max-width: 985px;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: border-box;
	overflow: hidden;
}
/*---------------------------------------*/
header {
	background: #000;
	.desctop-menu {
		display: none;
	}
}
.hidden-menu {
  display: block;
  float: left;
  position: absolute;
  list-style:none;
  padding: 50px 0 0 0;
  margin: 0 auto;
  padding: 75px 0 35px 28px;
  text-align: center;
  box-sizing: border-box;
  width: 195px;
  background-color: #1e1e1e;
  height: auto;
  top: 0;
  left: -250px;
  transition: left .2s;
  z-index: 3;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;

  li {
    display: block;
    width: 100%;
    height: 43px;
    margin: 0 auto;
    text-align: left;
    line-height: 43px;
    vertical-align: middle;

    a {
    	display: block;
    	width: 100%;
    	height: 100%;
    	color: #fff;
		font-family: 'Roboto', sans-serif;
		font-size: 25px;
		font-weight: 300;
		line-height: 45px;
		@include transition;

		&:hover {
			color: #ff5a00;
		}
    }
  }
  .lenguage-select {
  	margin-bottom: 35px;
  	color: #ff5a00;
	font-family: 'SFUIDisplay', sans-serif;
	font-size: 22px;
	font-weight: 400;
	line-height: 43px;
	vertical-align: top;
  	a {
  		display: inline-block;
  		width: auto;
  		color: #ff5a00;
  		@include transition;

		&:hover {
			color: #fff;
		}	
  	}
  }

}
.hidden-menu-ticker {
  display: none;
}
.btn-menu {
  color: #fff;
  background-color: none;
  padding: 0;
  position: relative;
  float: left;
  top: 41px;
  left: 5px;
  cursor: pointer;
  transition: left .23s;
  z-index: 3;
  width: 30px;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
.btn-menu span {
  display: block;
  height: 3px;
  background-color: #5786fe;
  border-radius: 10px;
  margin: 3px 0 0;
  transition: all .1s linear .23s;
  position: relative;
}
.btn-menu span.first {
  margin-top: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu {
  left: 145px;
}
.hidden-menu-ticker:checked ~ .hidden-menu {
  left: 0;
}
/*logo*/
.logo {
  max-width: 63px;
  overflow: hidden;
  margin: 0 auto;
  /*float: left;*/
  text-align: center;

  img {
  	max-width: 100%;
  	height: auto;
  }
}
.header-info {
  display: none;
}

/*dropdown filter*/
    .call-us-block {
        float: right;
        margin: 32px 10px 0 0;
        line-height: 33px;
        vertical-align: middle;

        img {
          display: inline-block;
      line-height: 33px;
      vertical-align: middle;
        }
    }
    #info-mobile {
        width: 221px;
		height: 76px;
		background-color: #1e1e1e;
        clear:none;
        float: right;
        position: absolute;
        top: 81px;
        right: 0;
        z-index: 2;
        @include transition;

        a {
        	display: block;
        	margin: 15px auto;
        	text-align: center;
        	.phone {
        		color: white;
				font-family: 'Roboto', sans-serif;
				font-size: 22px;
				font-weight: 700;
				line-height: 45px;
        	}
        }
    }
    label {
    	color: #000; 
    	float: right; 
    	cursor: pointer;
    	@include transition;
		.fa-phone {
			font-size: 23px;
    		color: #171c61;
		}
    }
    input{display:none;}
    input:checked+#info-mobile{display:none;}
  /*end dropdown filter*/
/*end menu*/
/*---------------------------------------*/
/*slider*/
.slider {
	margin-top: 0;
}
.skdslider{
	 width:100%;
	 height: 450px;
	 position: relative;
	 display: block;
	 overflow:hidden;
	 background: #000;
	 .slide-navs {
	 	display: none;
    	width: 100%;
		bottom: 8%;
		left: 5px;
		position: absolute;
		list-style-type: none;
		margin: 0;
		padding: 0;
    	text-align: left;
		li {
		  	display: inline-block;
			height: 14px;
			width: 14px;
			margin: 0px 6px;
			cursor: pointer;
			position: relative;
			border-radius: 50%;
			border: 2.07px solid #fff;
			transition: all 0.5s;
		}
		.current-slide {
			width: 14px;
			height: 14px;
			border-color: #e60012;
			background-color: #e60012;
		}
	}
 	.slides{
	 		margin:0;
	 		padding:0;
	 		list-style-type:none;
 		li{
			display: none;
			position: relative;
			img{
			    max-width: 100%;
				height: 100%;
				border: 0;
				position: absolute;
				object-fit: cover;
			}
		}
 	}
 	.slide-desc {
	    left: 0;
	    padding-bottom: 20px;
	    position: absolute;
	    bottom: 0;
	    text-align: center;
	    width: 100%;
	    height: 100%;
		display:inline-block;
		background-color: rgba(0,0,0,0.5);

		.content-desc {
			max-width: 493px;
			width: 100%;
			padding: 10px;
			position: absolute;
			padding-left: 12px;
			bottom: 0;
			left: 10%;
			text-align: left;
			background: url('../images/elem-bg.png') no-repeat;
			background-position: left;
			background-size: auto; 

			&> h1 {
				margin-top: 7px;
			    color: white;
				font-family: "SFUIDisplay", sans-serif;
				font-size: 18px;
				font-weight: 700;
				line-height: 20px;
				text-transform: uppercase;
			}
			&> p {
			    color: white;
				font-family: "SFUIDisplay", sans-serif;
				font-size: 15px;
				font-weight: 400;
				line-height: 22px;
				text-transform: uppercase;
			}
			&> p a.more:hover {
			text-decoration:underline;
			}
		}
	}
	a.prev{
		// width:35px;
		// height:35px;
		// display:block;
		// cursor:pointer;
		// position:absolute;
		// top:50%;
		// left:2%;
		// margin-top:-17px;
		// font-size: 20px;
		// color: white;
		// transition: all 0.4s;
		display: none;
	}
	a.next{
		// width:35px;
		// height:35px;
		// display:block;
		// cursor:pointer;
		// position:absolute;
		// top:50%;
		// right:2%;
		// margin-top:-17px;
		// font-size: 20px;
		// color: white;
		// transition: all 0.4s;
		display: none;
	}
	.next:hover, .prev:hover{
		opacity: 0.7;
		filter: alpha(opacity=80);
	}
}
/*--------------------------------*/
.offers {
	padding: 83px 0 0;
	background: #fff;

	.section-title {
		@include section-title;
	}

	.offer-item {
		display: block;
		margin: 0 auto;
		text-align: center;

		li {
			position: relative;
			display: inline-block;
			max-width: 211px;
			width: 211px;
			max-height: 210px;
			height: 210px;
			overflow: hidden;
			margin: 20px auto;
			text-align: center;

			.overlay-offers {
				position: absolute;
			    top: 50%;
			    left: 50%;
			    transform: translate(-50%, -50%);
			    height: 100%;
			    width: 100%;
			    padding: 10px;
			    border-radius: 100%;
			    background: rgba(23,28,97, 0.4);
			    margin: 0 auto;

				h3 {
					width: 190px;
					height: 190px;
					margin: 0 auto;
					text-align: center;
					position: absolute;
				    top: 50%;
				    left: 50%;
				    transform: translate(-50%, -50%);
				    line-height: 210px;
				    border: 2.07px solid #fff;
				    border-radius: 100%;
				    opacity: 1;

					a {
						color: #fff;
						font-size: 25px;
						font-weight: 400;
						text-transform: uppercase;
					}
				}
			} 

			img {
				max-width: 100%;
				height: 100%;
			}
		}
	}
	.offer-content {
		width: 100%;
		height: auto;
		padding: 70px 0 0;
		box-sizing: border-box;
		overflow: hidden;
		background: url(../images/home-page/map-bg.png) no-repeat;
		background-size: cover;
    	background-position: center;

		.offer-overlay {
			padding: 55px 10px 10px;
			position: relative;
			left: 50%;
			bottom: 0;
			transform: translateX(-50%);
			max-width: 1001px;
			width: 100%;
			background: rgba(23,28,97, 0.6);

			img {
				width: 66px;
				height: 66px;
				display: block;
				margin: 0 auto 51px;
				text-align: center;
				opacity: 1;
			}
			h3 {
				opacity: 1;
				max-width: 887px;
				margin: 0 auto;
				color: #fff;
				text-align: center;
				font-size: 18px;
				font-weight: 400;
				line-height: 25px;
			}
		}		
	}
}
/*--------------------------------*/
.school-section {
	padding: 0 0 68px;
	
	.section-title {
		@include section-title;

		&:before,
		&:after {
			width: 15%;
		}
	}

	.school-gallery  {
	    margin: 60px auto 51px;
	    text-align: center;
	}
	.school-gallery li {
	    display: inline-block;
	    margin: 15px;
	    padding: 0;
	    background: #fff;
	}
	.school-gallery li img {
	    width: 100%;
	    height: auto;
	}
	.school-gallery .item {
	    display: block;
        max-width: 312px;
		max-height: 209px;
	    position: relative;
	    overflow: hidden;
	    background: rgba(23,28,97, 0.9);
	}
	.item:hover .title-images h3 {
		display: none;
	}
	.school-gallery .hover-effect {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
      padding: 15px 25px 33px 21px;
	  background: black;
	  background-color: rgba(230,0,18, 0.85);
	  color: #fff;
	  opacity: 0;
	  -webkit-transition: all 0.6s ease;
	  -moz-transition:    all 0.6s ease;
	  -o-transition:      all 0.6s ease;
	}
	.school-gallery .hover-effect .hover-description {
		display: block;
		color: #fff;
		font-weight: 400;
		font-size: 18px;
		line-height: 25px;
		font-size: 12px;
		line-height: 16px;
	}
	.school-gallery .hover-effect h3 {
		margin-bottom: 27px;
	}
	.school-gallery .hover-effect h3 a {
		color: #fff;
		font-size: 25px;
		font-weight: 400;
		line-height: 33px;
		text-transform: uppercase;
	}
	.school-gallery :hover .hover-effect  {
	  opacity: 1;
	}
	.hover-effect:before,
	.hover-effect .hover-effect {
	  bottom: 0; left: 0;
	}
	.hover-effect:hover .hover-effect  {
	 left: 0;
	}
	.title-images {
		position: absolute;
		left: 0;
		bottom: 0;
	    width: 100%;
	    height: auto;
		background-color: rgba(23,28,97, 0.6);
	}
	.title-images h3 {
	    float: left;
	    color: #fff;
	    margin: 18px 0 16px 20px;
		font-size: 25px;
		font-weight: 400;
		line-height: 33px;
		text-transform: uppercase;
	}
	.title-images span {
	    float: right;
	    margin: 20px 10px;
	    color: #aba7ab;
	    font-size: 12px;
	    line-height: 20px;
	}

	.read-more {
		@include read-more;
	}
}
/*--------------------*/
.testimonials-section {
	padding: 69px 0 59px;
	background: rgba(83,80,118, 0.07);

	.section-title {
		@include section-title;
	}
	.testimonials-list {
		margin: 62px auto 51px;

		li {
			display: inline-block;
			max-width: 201px;
			overflow: hidden;
			margin-top: 40px;

			&:first-child {
				margin-top: 0;
			}

			img {
				display: block;
			}

			.user-name {
				display: block;
				margin: 28px 0 17px;
				color: #262b86;
				font-size: 25px;
				font-weight: 400;
				line-height: 26px;
				text-transform: uppercase;
			}
			.user-date {
				display: block;
				margin-bottom: 37px;
				color: #e60012;
				font-size: 16px;
				font-weight: 400;
				line-height: 18px;
			}
			.user-about {
				font-weight: 400;
				line-height: 25px;
				color: #515151;
				font-size: 18px;
			}
		}
	}
	.read-more {
		@include read-more;
	}
}
/*--------------------------*/
.blog-section {
	padding: 66px 0 68px;
	background: #fff;

	.section-title {
		@include section-title;
		&:before,
		&:after {
			width: 35%;
		}
	}
	.blog-list {
		margin: 59px auto 28px;

		li {
			display: inline-block;
			max-width: 450px;
			overflow: hidden;
			margin-top: 40px;

			&:first-child {
				margin-top: 0;
			}
			img {
				float: left;
				margin: 0 25px 20px 0;
			}
			.blog-content {
				float: right;

				.article-name {
					color: #262b86;
					font-size: 25px;
					font-weight: 400;
					line-height: 18px;
					text-transform: uppercase;
				}
				.article-date {
					display: block;
					margin: 18px 0 33px;
					color: #e60012;
					font-size: 16px;
					font-weight: 400;
					line-height: 18px;
				}
				.article-about {
					font-weight: 400;
					line-height: 25px;
					color: #535353;
					font-size: 18px;
				}
			}
			.blog-read-more {
				clear: both;
				float: right;
				margin-top: 25px;
				@include transition;

				&:hover {
					color: #e60012;
				}
			}
		}
	}
}

/*--------------------------*/
footer {
	clear: both;
	padding-top: 67px;
	background-color: #2c2e65;

	.footer-contenet-list {
		 display: flex;
		 flex-direction: column;
		li {
			display: inline-block;
			.footer-menu {
				li {
					display: block;
					margin: 5px 0;
					font-size: 16px;
					font-weight: 400;
					line-height: 28px;
					color: #fff;
					a {
						color: #fff;
						@include transition;

						&:hover {
							color: #edd682;
						}
					}
					.active-footer {
						color: #edd682;
					}
				}
			}
			.social-icon {
				margin: 20px auto;
    			text-align: center;
				li {
					display: inline-block;
					margin: 0 15px;
					a {
						display: block;
						width: 31px;
						height: 31px;
						overflow: hidden;
						color: #fff;
						border: 1px solid #fff;
						text-align: center;
						line-height: 31px;
						border-radius: 100%;
						@include transition;

						&:hover {
							color: #edd682;
							border-color: #edd682;
						}
					}
				}
			}
			// &>&:first-child {
			// 	width: 31%;
			// }
			// &>&:nth-child(2) {
			// 	width: 12%;
			// 	margin: 10% 25% 10% 15%;
			// }
			// &>&:last-child {
			// 	max-width: 590px;
			// 	width: 100%;
			// }
			#feedForm {
				max-width: 590px;

				input {
					display: inline-block;
					background-color: #2c2e65;
				}

				::-webkit-input-placeholder {
				   font-size: 16px;
				   font-weight: 400;
				   line-height: 28px;
				   color: #fff;
				}

				:-moz-placeholder { /* Firefox 18- */
				   font-size: 16px;
				   font-weight: 400;
				   line-height: 28px;
				   color: #fff;
				}

				::-moz-placeholder {  /* Firefox 19+ */
				   font-size: 16px;
				   font-weight: 400;
				   line-height: 28px;
				   color: #fff;
				}

				:-ms-input-placeholder {  
				   font-size: 16px;
				   font-weight: 400;
				   line-height: 28px;
				   color: #fff;
				}

				.name-field,
				.phone-field,
				.email-field {
					width: 284px;
					height: 37px;
					margin: 14px 0;
					padding: 5px;
					color: #fff;
					border: none;
					border: 1.49px solid #edd682;
				}
				.ui.selection.dropdown {
				    cursor: pointer;
				    word-wrap: break-word;
				    line-height: 1em;
				    white-space: normal;
				    outline: 0;
				    -webkit-transform: rotateZ(0deg);
				    -ms-transform: rotate(0deg);
				    transform: rotateZ(0deg);
				    min-width: 14em;	
				    min-height: 2.7142em;
				    background: #FFFFFF;
				    display: inline-block;
				    padding: 0.78571429em 2.6em 0.78571429em 1em;
				    color: rgba(0, 0, 0, 0.87);
				    box-shadow: none;
				    border: 1px solid rgba(34, 36, 38, 0.15);
				    border-radius: 0;
				    -webkit-transition: box-shadow 0.1s ease, width 0.1s ease;
				    transition: box-shadow 0.1s ease, width 0.1s ease;
				    width: 284px;
				    background-color: #2c2e65;
				    border-color: #edd682;
				    color: #fff;
				}
				.ui.dropdown .menu > .item:hover {
				    background: rgba(0, 0, 0, 0.05);
				    color: #edd682;
				    z-index: 13;
			    }
			    .ui.selection.active.dropdown:hover .menu {
				    width: 284px;
				    height: 123px;
				    background-color: #2c2e65;
				    border: 1.49px solid #edd682;
				    color: #fff;
				}
				.ui.dropdown > .default.text, .ui.default.dropdown > .text {
				    color: #fff;
				}
				.ui.selection.dropdown .menu > .item {
				    border-top: 1px solid #edd682;
				    padding: 0.71428571rem 1.14285714rem !important;
				    white-space: normal;
				    word-wrap: normal;
				    color: #fff;
				}
				.message {
					width: 100%;
					height: 89px;
					margin: 14px 0 17px;
				    padding: 13px 0 0 13px;
				    color: #fff;
					border: 1.49px solid #edd682;
					background-color: #2c2e65;
				}
				.submit-button {
					float: right;
					width: 99px;
					height: 42px;
					color: #2c2e65;
					font-size: 18px;
					font-weight: 700;
					text-align: center;
					text-transform: uppercase;
					line-height: 42px;
					border: none;
					background-color: #edd682;
					cursor: pointer;
				}
			}
		}
	}	

	.copyright {
		margin-top: 61px;
		border-top: 4px solid #edd682;

		h1 {
			margin: 18px auto 15px;
			text-align: center;
			color: #fff;
			font-size: 15px;
			font-weight: 400;
			line-height: 22px;

			a {
				color: #fff;
				text-decoration: none;
				@include transition;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}