@import "compass/reset";

@import "media";

@font-face {
  font-family: 'Corbel';
  src: url('../resorces/Corbel/Corbel-Bold.woff') format('woff'),
       url('../resorces/Corbel/Corbel-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Corbel';
  src: url('../resorces/Corbel/Corbel_Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'SFUIDisplay';
    src: url('../resorces/SFUIDisplay/sfuidisplay-bold-webfont.woff2') format('woff2'),
         url('../resorces/SFUIDisplay/sfuidisplay-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SFUIDisplay';
    src: url('../resorces/SFUIDisplay/sfuidisplay-light-webfont.woff2') format('woff2'),
         url('../resorces/SFUIDisplay/sfuidisplay-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SFUIDisplay';
    src: url('../resorces/SFUIDisplay/sfuidisplay-regular-webfont.woff2') format('woff2'),
         url('../resorces/SFUIDisplay/sfuidisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SFUIDisplay';
    src: url('../resorces/SFUIDisplay/sfuidisplay-semibold-webfont.woff2') format('woff2'),
         url('../resorces/SFUIDisplay/sfuidisplay-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body {
  font-family: 'SFUI Display', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: #000;
}
@mixin wideo-wrapper {
	display: block;
	max-width: 781px;
	max-height: 422px;
	overflow: hidden;
	margin: 20px auto 31px;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	text-align: center;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
@mixin transition {
	-webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
@mixin pagination {
	float: right;

	li {
		display: inline-block;
		margin: 0 5px;
		a {
			color: #262b86;
			font-size: 18px;
			font-weight: 400;
			line-height: 11px;
			text-transform: uppercase;
			@include transition;

			&:hover {
				color: #e60012;
			}
		}
	}
}
@mixin page-title {
		    display: block;
		    margin-bottom: 24px;
		    color: #5786fe;
		    text-align: left;
		    font-size: 50px;
		    font-weight: 600;
		    line-height: 50px;
		    text-transform: uppercase;
}
.wrapper {
	max-width: 985px;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: border-box;
	overflow: hidden;
}
a {
	text-decoration: none;
}
/*---------------------------------------*/
header {
	background: #000;
	.desctop-menu {
		display: none;
	}

	.logo-sign,
	.desctop-phone,
	.desctop-lenguage-select,
	.reservation-button {
		display: none;
	}
}
.hidden-menu {
  display: block;
  float: left;
  position: absolute;
  list-style:none;
  padding: 50px 0 0 0;
  margin: 0 auto;
  padding: 75px 0 35px 28px;
  text-align: center;
  box-sizing: border-box;
  width: 195px;
  background-color: #1e1e1e;
  height: auto;
  top: 0;
  left: -250px;
  transition: left .2s;
  z-index: 3;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;

  li {
    display: block;
    width: 100%;
    height: 43px;
    margin: 0 auto;
    text-align: left;
    line-height: 43px;
    vertical-align: middle;

    a {
    	display: block;
    	width: 100%;
    	height: 100%;
    	color: #fff;
		font-family: 'Roboto', sans-serif;
		font-size: 25px;
		font-weight: 300;
		line-height: 45px;
		@include transition;

		&:hover {
			color: #ff5a00;
		}
		.active {
			color: #f75701;
		}
    }
  }
  .lenguage-select {
  	margin-bottom: 35px;
  	color: #ff5a00;
	font-family: 'SFUIDisplay', sans-serif;
	font-size: 22px;
	font-weight: 400;
	line-height: 43px;
	vertical-align: top;
  	a {
  		display: inline-block;
  		width: auto;
  		color: #ff5a00;
  		@include transition;

		&:hover {
			color: #fff;
		}	
  	}
  }

}
.hidden-menu-ticker {
  display: none;
}
.btn-menu {
  color: #fff;
  background-color: none;
  padding: 0;
  position: relative;
  float: left;
  top: 41px;
  left: 5px;
  cursor: pointer;
  transition: left .23s;
  z-index: 3;
  width: 30px;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  z-index: 4;
}
.btn-menu span {
  display: block;
  height: 3px;
  background-color: #5786fe;
  border-radius: 10px;
  margin: 3px 0 0;
  transition: all .1s linear .23s;
  position: relative;
}
.btn-menu span.first {
  margin-top: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu {
  left: 145px;
}
.hidden-menu-ticker:checked ~ .hidden-menu {
  left: 0;
}
/*logo*/
.logo {
  max-width: 63px;
  overflow: hidden;
  margin: 0 auto;
  /*float: left;*/
  text-align: center;

  img {
  	max-width: 100%;
  	height: auto;
  }
}
.header-info {
  display: none;
}

/*dropdown filter*/
    .call-us-block {
        float: right;
        margin: 32px 10px 0 0;
        line-height: 33px;
        vertical-align: middle;

        img {
          display: inline-block;
      line-height: 33px;
      vertical-align: middle;
        }
    }
    #info-mobile {
        width: 221px;
		height: 76px;
		background-color: #1e1e1e;
        clear:none;
        float: right;
        position: absolute;
        top: 81px;
        right: 0;
        z-index: 2;
        @include transition;

        a {
        	display: block;
        	margin: 15px auto;
        	text-align: center;
        	.phone {
        		color: white;
				font-family: 'Roboto', sans-serif;
				font-size: 22px;
				font-weight: 700;
				line-height: 45px;
        	}
        }
    }
    label {
    	color: #000; 
    	float: right; 
    	cursor: pointer;
    	@include transition;
		.fa-phone {
			font-size: 23px;
    		color: #171c61;
		}
    }
    input{display:none;}
    input:checked+#info-mobile{display:none;}
  /*end dropdown filter*/
/*end menu*/
/*---------------------------------------*/
/*slider*/
.slider {
	margin-top: 0;


// 	.swiper-container {
// 		.swiper-wrapper {
// 			.swiper-slide {
// 				margin: 0 auto;
// 		    	text-align: center;
// 				img {
// 			    	display: block;
// 			    	margin: 0 auto;
// 			    	text-align: center;
// 			    }
// 			}
// 		}
// 	}

// .swiper-container {
//     width: 100%;
//     height: 100%;


// }
.swiper-slide {
	margin: 0 auto;
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    overflow: hidden;

    .swiper-button-next,
    .swiper-button-prev {
    	display: none !important;
    }

    img {
		width: auto;
    	height: 100%;
    }
    .slide-desc {
	    left: 0;
	    padding-bottom: 20px;
	    position: absolute;
	    bottom: 15px;
	    text-align: center;
	    width: 100%;
	    height: 100%;
		display:inline-block;
		background-color: rgba(0,0,0,0.5);

		.content-desc {
			max-width: 493px;
			width: 100%;
			padding: 10px;
			position: absolute;
			padding-left: 12px;
			bottom: 0;
			left: 10%;
			text-align: left;
			background: url('../images/elem-bg.png') no-repeat;
			background-position: left;
			background-size: auto; 

			&> h1 {
				margin-top: 7px;
			    color: white;
				font-family: "SFUIDisplay", sans-serif;
				font-size: 18px;
				font-weight: 700;
				line-height: 20px;
				text-transform: uppercase;
			}
			&> p {
			    color: white;
				font-family: "SFUIDisplay", sans-serif;
				font-size: 15px;
				font-weight: 400;
				line-height: 22px;
				text-transform: uppercase;
			}
			&> p a.more:hover {
			text-decoration:underline;
			}
		}
	}
}


.swiper-slide{
	 width:100%;
	 // height: 450px;
	 position: relative;
	 display: block;
	 overflow:hidden;
	 background: #000;
	 .swiper-pagination {
	 	display: none;
	}
 	.slides{
	 		margin:0;
	 		padding:0;
	 		list-style-type:none;
 		li{
			display: none;
			position: relative;
			img{
			    max-width: 100%;
				height: 100%;
				border: 0;
				position: absolute;
				object-fit: cover;
			}
		}
 	}
 	.slide-desc {
	    left: 0;
	    padding-bottom: 20px;
	    position: absolute;
	    bottom: 15px;
	    text-align: center;
	    width: 100%;
	    height: 100%;
		display:inline-block;
		background-color: rgba(0,0,0,0.5);

		.content-desc {
			max-width: 493px;
			width: 100%;
			padding: 10px;
			position: absolute;
			padding-left: 12px;
			bottom: 0;
			left: 10%;
			text-align: left;
			background: url('../images/elem-bg.png') no-repeat;
			background-position: left;
			background-size: auto; 

			@media (min-width: 1024px) {
				background-repeat: repeat-y !important;
				height: 50% !important;
			}

			&> h1 {
				margin-top: 7px;
			    color: white;
				font-family: "SFUIDisplay", sans-serif;
				font-size: 18px;
				font-weight: 700;
				line-height: 20px;
				text-transform: uppercase;
			}
			&> p {
			    color: white;
				font-family: "SFUIDisplay", sans-serif;
				font-size: 15px;
				font-weight: 400;
				line-height: 22px;
				text-transform: uppercase;
			}
			&> p a.more:hover {
			text-decoration:underline;
			}
		}
	}
	.next:hover, .prev:hover{
		opacity: 0.7;
		filter: alpha(opacity=80);
	}
}

.swiper-container {
    width: 100%;
	height: 450px;
}
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        background: #000;
    }
}
/*--------------------------------*/
.services-content {
	.services-item-title {
		float: left;
	    display: inline-block;
	    margin-right: 23px;
	    color: #5786fe;
	    font-size: 50px;
	    font-weight: 600;
	    line-height: 50px;
	    text-align: left;
	    text-transform: uppercase;
	}
	.services-default-list {
		display: block;
		clear: both;
		overflow: hidden;
		box-sizing: border-box;
		width: 100%;
		margin: 0 auto;

		li {
			display: inline-block;
			box-sizing: border-box;
			overflow: hidden;
			width: 47%;
			margin: 0 auto 20px;

			&:nth-child(even) {
				margin-left: 3%;
			}
			
			.services-img {
				float: left;
			}
			.service-title {
				clear: both;
				float: left;
				margin: 14px 0 0 0;
				color: #5786fe;
				font-size: 24px;
				font-weight: 400;
				line-height: 37px;
				text-transform: uppercase;

				&:hover {
					color: #f45601;
					text-decoration: none;
				}
			}
		}
	}
}
/*--------------------------------*/
/*--------------------------------*/
.services {
	width: 100%;
	padding-top: 36px;
	background: #000;

	.services-list {
		background: #000;
		width: 100%;
		margin: 0 auto;
		text-align: center;

		

		li {
			display: inline-block;
			width: 100%;
			height: auto;
			padding: 20px 0;
			overflow: hidden;
			@include transition;
			

			&:hover {
				img {
					box-shadow: inset 0 0 5.3px 4.7px rgba(255, 90, 0, 0.92);
				}
				a {
					color: #ff5a00;
				}
			}
			a {
				color: #5786fe;
				font-size: 25px;
				font-weight: 400;
				line-height: 30px;
				// @include transition;

				img {
					display: block;
					max-width: 100%;
					margin: 0 auto 36px;
					padding: 5px;
					text-align: center;
					border-radius: 100%;
					// @include transition;
				}
			}
		}
	}
	@media (min-width: 1024px) {
		.services-list {
			display: -webkit-box;
			display: -ms-flexbox;
		    display: -webkit-flex;
		    display: flex;
		    -webkit-box-pack: center;
		    -ms-flex-pack: center;
		    -webkit-justify-content: center;
		    justify-content: center;
		    -webkit-box-align: center;
		    -ms-flex-align: baseline;
		    -webkit-align-items: baseline;
		    align-items: baseline;
		    overflow:hidden;
		}
	}
}
/*--------------------------*/
.welcome {
	padding: 30px 0;
	background: #000;
	box-sizing: border-box;
	.welcome-title {
		margin: 0 auto 30px;
		text-align: center;
		color: #5786fe;
		font-size: 50px;
		font-weight: 600;
		line-height: 86px;
		font-variant: small-caps;
	}
	.welcome-description {
		margin-bottom: 35px;
		color: white;
		font-family: "Roboto", sans-serif;
		font-size: 18px;
		font-weight: 300;
		line-height: 22px;
	}
	.swiper-container-desctop {
		display: none;
	}
}
/*--------------------------*/
.main-map {
	.wrapper {
		padding: 0;
	}
	.map-sign {
		display: none;
	}
	.google-maps {
		width: 100%;
		max-height: 386px;

		iframe {
			width: 100%;
		}
    }
}
/*--------------------------*/
.booking-form {
	background: #000;

	.form-title {
		margin: 40px auto 0;
		text-align: center;
		color: white;
		font-size: 24px;
		font-weight: 400;
		line-height: 35px;
		font-variant: small-caps;
	}

	#booking-form {
		width: 290px;
		margin: 0 auto;
		// padding: 28px 0 43px 72px;
		text-align: center;
		.form-row {
			margin: 35px auto;
			box-sizing: border-box;
			overflow: hidden;
			h3 {
				width: 100%;
				margin: 0 0 20px 15px;
				color: white;
				font-size: 22px;
				font-weight: 300;
				line-height: 29px;
				text-align: left;
				float: left;
			}
			img {
				float: right;
			}

			input {
				display: block;
			}
			
			.form-row-first,
			.form-row-second,
			.form-row-third {
				display: block;

			}

			
			.name-field,
			.email-field,
			.phone-field {
				display: block;
			    width: 100%;
			    height: 48px;
			    border: none;
			    text-align: center;
			    color: black;
			    font-size: 22px;
			    font-weight: 300;
			    line-height: 48px;
			    background-color: #e0e0e0;
			}
			.number-hours,
			.number-people {
				.minus,
				.plus {
					float: left;
					display: inline-block;
					width: 66px;
					height: 48px;
					line-height: 48px;
					text-align: center;
					color: white;
					border: none;
					font-family: 'RobotoCondensed', sans-serif;
					font-size: 19px;
					font-weight: 300;
					color: #fff;
				}
				.minus {
					background-color: #5786fe;
				}
				.plus {
					background-color: #ff5a00;
				}
				#number-hours,
				#number-people {
					position: relative;
					display: inline-block;
					border: none;
					width: 155px;
					float: left;
					color: black;
					font-size: 22px;
					font-weight: 300;
					line-height: 48	px;
					text-align: center;
					height: 46px;
					background-color: #e0e0e0;

					}
				@media (min-width: 768px) {
					#number-hours,
					#number-people {
						width: 83px;
					}
				}
				span {cursor:pointer; }
			}
			#datetimepicker {
				display: block;
				width: 100%;
				height: 48px;
				border: none;
			    padding: 0;
				text-align: center;
				color: black;
				font-size: 22px;
				font-weight: 300;
				line-height: 48px;
				background-color: #e0e0e0;
			}
		}
		.form-row-fourth {
				h3 {
					width: 75%;
				}
			}
		.book-button {
			display: block;
			width: 119px;
			height: 48px;
			margin: 0 auto 38px;
			text-align: center;
			color: white;
			font-size: 25px;
			font-weight: 700;
			line-height: 48px;
			border: none;
			text-transform: uppercase;
			background-color: #ff5a00;
			cursor: pointer;
		}
	}
}
/*--------------------------*/
/*--------------------------*/
footer {
	background-color: #1e1e1e;

	.footer-desctop,
	.column-content {
		display: none;
	}
	
	.footer-mobile {
		.site-address {
			margin: 33px auto 38px;
			text-align: center;
			color: white;
			font-family: "Roboto", sans-serif;
			font-size: 18px;
			font-weight: 300;
			line-height: 30px;
		}
		.site-phone {
			margin: 0 auto;
			text-align: center;
			color: white;
			font-family: "Roboto", sans-serif;
			font-size: 27px;
			font-weight: 700;
			line-height: 46px;
		}
		.social-icons {
			margin: 35px auto 38px;
			text-align: center;

			li {
				display: inline-block;
				width: 41px;
				height: 40px;
				margin: 0 15px;
				overflow: hidden;

				a {
					display: block;
					width: 41px;
					height: 40px;
					@include transition;
					img {
						max-width: 100%;
						height: auto;
						overflow: hidden;
					}
				}
				.google {
					background: url('../images/google_1.png') no-repeat center;
					&:hover {
						background: url('../images/google_2.png') no-repeat center;
					}
				}
				.facebook {
					background: url('../images/facebook_1.png') no-repeat center;
					&:hover {
						background: url('../images/facebook_2.png') no-repeat center;
					}
				}
				.twitter {
					background: url('../images/twitter_1.png') no-repeat center;
					&:hover {
						background: url('../images/twitter_2.png') no-repeat center;
					}
				}
			}
		}
	}

	.copyright {
		// margin-top: 61px;
		border-top: 2px solid #363636;
		background-color: #1e1e1e;

		h1 {
			margin: 18px auto 15px;
			text-align: center;
			color: white;
			font-family: 'Roboto', sans-serif;
			font-size: 15px;
			font-weight: 400;
			line-height: 22px;

			a {
				color: #fff;
				text-decoration: none;
				@include transition;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
/*---------------------------------------------------------------------------------*/
// style for inside page
/*---------------------------------------------------------------------------------*/
.content-page {
	margin-top: 56px;
	.sidebar {
		float: left;
		width: 146px;
		margin-right: 45px;
		box-sizing: border-box;
		text-align: center;

		.sidebar-list {
			display: none;
			width: 100%;
			box-sizing: border-box;
			margin: 0 auto;
			text-align: center;

			li {
				display: block;
				width: 100%;
				margin: 26px auto;
				@include transition;
			

				&:hover {
					img {
						box-shadow: inset 0 0 5.3px 4.7px rgba(255, 90, 0, 0.92);
					}
					a {
						color: #ff5a00;
					}
				}

				.img-container {
					width: 181px;
				    height: auto;
				    overflow: hidden;
				    border-radius: 100%;
				}

				img {
					max-width: 100%;
					height: auto;
					margin-bottom: 15px;
					padding: 5px;
				    border-radius: 100%;
				}

				&:first-child {
					margin-top: 0;
				}
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	.main-content {
		overflow: hidden;
		box-sizing: border-box;
		width: 100%;
		text-align: center;

		.blog-content {
			width: 100%;
			box-sizing: border-box;

			.page-title {
				@include page-title;
			}

			.blog-list {
				width: 100%;
				li {
					display: inline-block;
					width: 234px;
					margin: 30px 0;
					box-sizing: border-box;
					overflow: hidden;

					.item-title {
						margin: 15px 0;
						color: #5786fe;
						font-size: 24px;
						font-weight: 400;
						line-height: 37px;
						text-align: left;
						text-transform: uppercase;
					}
					.item-date {
						display: block;
						color: #f65701;
						font: 400 16px / 20px 'Roboto', sans-serif;
						font-variant: small-caps;
						text-align: left;
					}
					.item-description {
						margin: 12px 0 21px;
						text-align: left;
						color: white;
						font: 300 18px / 22px 'Roboto', sans-serif;
					}
					.read-more {
						display: block;
						float: right;
						color: #5786fe;
						font-size: 16px;
						font-weight: 400;
						line-height: 37px;
						@include transition;

						&:hover {
							color: #f65701;
						}
					}
				}
			}
			.page-pagination {
				width: 100%;
				box-sizing: border-box;
				margin: 0 auto;
				text-align: center;

				li {
					display: inline-block;
					margin: 0 3px;

					a {
						font-size: 18px;
						font-weight: 400;
						line-height: 48px;
						color: #5786fe;
						@include transition;

						&:hover {
							color: #f75701;
						}

						.pagination-item {
							color: #f75701;
						}
					}
				}
			}
		}
		/*--------------------------------------*/
		.blog-more-content {

			.blog-item-title {
				float: left;
			    display: inline-block;
			    margin-right: 23px;
			    color: #5786fe;
			    font-size: 50px;
			    font-weight: 600;
			    line-height: 50px;
			    text-align: left;
			    text-transform: uppercase;
			}
			.blog-item-date {
				color: #f65701;
			    float: left;
			    padding-top: 20px;
			    font: 400 22px / 25px 'RobotoCondensed', sans-serif;
			    font-variant: small-caps;
			}
			.overflow-block {
				clear: both;
			    box-sizing: border-box;
			    margin-top: 20px;
			    overflow: hidden;
			    float: left;
				.float-img {
					float: left;
					margin: 0 28px 20px 0;
				}
				.overflow-paragraph {
					margin-bottom: 20px;
					text-align: left;
					color: white;
					font: 300 18px / 22px 'Roboto', sans-serif;
				}
			}
			.swiper-container-mobile {
				display: block;
				clear: both;
			}
			.swiper-container-desctop {
				display: none;
				clear: both;
			}
			.wideo-wrapper {
				@include wideo-wrapper;
			}
		}
		/*--------------------------------------*/
	/*--------------------------------------*/
		.news-content {
			width: 100%;
			box-sizing: border-box;
			margin: 0 auto;
			text-align: center;

			.page-title {
				@include page-title;
				margin-bottom: 0;
			}

			.news-list {
				li {
					display: block;
					width: 100%;
					clear: both;
					margin: 54px auto;
					overflow: hidden;

					img {
						float: left;
						margin: 0 19px 20px 0;
					}

					.img-overflow {
						width: auto;

						.item-title {
							margin: 0;
							color: #5786fe;
							font-size: 24px;
							font-weight: 400;
							line-height: 20px;
							text-align: left;
							text-transform: uppercase;
						}
						.item-date {
							display: block;
							color: #f65701;
							font: 400 16px / 20px 'Roboto', sans-serif;
							font-variant: small-caps;
							text-align: left;
						}
						.item-description {
							margin: 12px 0 21px;
							text-align: left;
							color: white;
							font: 300 18px / 22px 'Roboto', sans-serif;
						}
						.read-more {
							display: block;
							float: right;
							color: #5786fe;
							font-size: 16px;
							font-weight: 400;
							line-height: 37px;
							@include transition;

							&:hover {
								color: #f65701;
							}
						}
					}

				}
			}
			.page-pagination {
				width: 100%;
				box-sizing: border-box;
				margin: 0 auto;
				text-align: center;

				li {
					display: inline-block;
					margin: 0 3px;

					a {
						font-size: 18px;
						font-weight: 400;
						line-height: 48px;
						color: #5786fe;
						@include transition;

						&:hover {
							color: #f75701;
						}

						.pagination-item {
							color: #f75701;
						}
					}
				}
			}
		}
	/*--------------------------------------*/
	/*--------------------------------------*/
	.news-more-content {

		.news-item-title {
			float: left;
		    display: inline-block;
		    margin-right: 23px;
		    color: #5786fe;
		    font-size: 50px;
		    font-weight: 600;
		    line-height: 50px;
		    text-align: left;
		    text-transform: uppercase;
		}
		.news-item-date {
			color: #f65701;
		    float: left;
		    padding-top: 20px;
		    font: 400 22px / 25px 'RobotoCondensed', sans-serif;
		    font-variant: small-caps;
		}
		.overflow-block {
			clear: both;
		    box-sizing: border-box;
		    margin-top: 20px;
		    overflow: hidden;
		    float: left;
			.float-img {
				float: left;
				margin: 0 28px 20px 0;
			}
			.overflow-paragraph {
				margin-bottom: 20px;
				text-align: left;
				color: white;
				font: 300 18px / 22px 'Roboto', sans-serif;
			}
		}
		.swiper-container-mobile {
			display: block;
			clear: both;
		}
		.swiper-container-desctop {
			display: none;
			clear: both;
		}
	}
	/*--------------------------------------*/
	/*--------------------------------------*/
	.reviews-content {
		width: 100%;
		box-sizing: border-box;
		margin: 0 auto;
		text-align: center;

		.page-title {
			@include page-title;
			margin-bottom: 0;
		}

		.reviews-list {
			li {
				display: block;
				width: 100%;
				clear: both;
				margin: 54px auto;
				overflow: hidden;

				img {
					float: left;
					margin: 0 19px 20px 0;
				}

				.img-overflow {
					width: auto;

					.item-title {
						margin: 0;
						color: #5786fe;
						font-size: 24px;
						font-weight: 400;
						line-height: 20px;
						text-align: left;
						text-transform: uppercase;
					}
					.item-date {
						display: block;
						color: #f65701;
						font: 400 16px / 20px 'Roboto', sans-serif;
						font-variant: small-caps;
						text-align: left;
					}
					.item-description {
						margin: 12px 0 21px;
						text-align: left;
						color: white;
						font: 300 18px / 22px 'Roboto', sans-serif;
					}
					.read-more {
						display: block;
						float: right;
						color: #5786fe;
						font-size: 16px;
						font-weight: 400;
						line-height: 37px;
						@include transition;

						&:hover {
							color: #f65701;
						}
					}
				}

			}
		}
	}
/*--------------------------------------*/
/*--------------------------------------*/
	.about-content {

		.page-title {
			@include page-title;
		}

		.about-text {
			margin: 0 0 20px 0;
			text-align: left;
			color: white;
			font: 300 18px / 22px 'Roboto', sans-serif;
		}
	}
/*--------------------------------------*/
	}
	/*--------------------------------------*/
	.container{
	  margin: 10px auto 42px;
	  width: 100%;
	  text-align: center;
	}

	.lightBox{
	  display: inline-block;
	  width: 247px;
	  height: auto;
	  margin: 5px; 

		&:first-of-type,
		&:nth-of-type(4n+4)  {
			margin-left: 0 !important;
		}

		&:nth-of-type(3n+3) {
			margin-right: 0 !important;
		}
	}

	.thumb{
	  width: 247px;
      transition: transform .46s ease-in-out;

      &:hover {
  	    transform: scale(1.3);
      }
	}

	.backDrop{
	  background-color: #000;
	  display: none;
	  filter: alpha(opacity=0);
	  height: 100%;
	  left: 0px;
	  opacity: .0;
	  position: absolute;
	  top: 0px;
	  width: 100%;
	  z-index: 50;
	}

	.box{
	  border-top-width: 15px;
	  border-right-width: 15px;
	  border-bottom-width: 15px;
	  border-left-width: 15px;
	  border-style: solid;
	  border-color: white;
	  box-shadow: 0px 0px 5px #444444;
	  display: none;
	  height: auto;
	  left: 100%;
      transform: translateX(-33%);
	  margin-left: -210px;
	  opacity: 0;
	  position: absolute;
	  top: 10%;
	  z-index: 51;
	  
	  -moz-border-radius: 2px;
	  -webkit-border-radius: 2px;
	  border-radius: 2px;

	  img {
	  	margin: 0 0 -5px 0;
	  }
	}

	.close{
	  cursor: pointer;
	  float: left;
	  font-size: 32px;
	  margin: 10px;
	  position: absolute;
	}

	.clear{
	  clear: both;
	}
	/*--------------------------------------*/
	.page-pagination {
		width: 100%;
		box-sizing: border-box;
		margin: 0 auto;
		text-align: center;

		li {
			display: inline-block;
			margin: 0 3px;

			a {
				font-size: 18px;
				font-weight: 400;
				line-height: 48px;
				color: #5786fe;
				@include transition;

				&:hover {
					color: #f75701;
				}

				.pagination-item {
					color: #f75701;
				}
			}
		}
	}

	/*----------contact us page-------------*/
	.contact-us-content {
		.page-title {
			@include page-title;
		}

		.contact-address-list {
			width: 100%;
			margin: 28px auto;
			text-align: center;

			li {
				width: 100%;
				margin: 32px auto 29px;
				text-align: left;

				.title {
					display: inline-block;
					margin-right: 17px;
					color: #5786fe;
					font-size: 24px;
					font-weight: 700;
					line-height: 37px;
					text-transform: uppercase;
				}
				.info {
					color: white;
					font: 300 18px / 30px 'Roboto', sans-serif;
				}
			}
		}		

		#feedback-contact-form {
			width: 100%;
			box-sizing: border-box;
			overflow: hidden;
			#client-mame,
			#email,
			#phone,
			.feedback-form {
				display: block;
			}
			label {
				display: block;
				width: 100%;
				margin: 15px 0;
				text-align: left;
				
				span {
					display: block;
					color: #fff;
					margin: 0 0 11px 12px;
					font-size: 22px;
					font-weight: 300;
					line-height: 29px;
				}
			}
			#client-mame,
			#email,
			#phone {
				width: 100%;
				height: 37px;
				padding-left: 10px;
				border: none;
				background-color: #e0e0e0;
				color: black;
			    font-size: 22px;
			    font-weight: 300;
			    line-height: 48px;
			}
			#message {
				width: 100%;
				height: 135px;
				padding: 10px 0 0 10px;
				color: black;
			    font-size: 22px;
			    font-weight: 300;
			    line-height: 48px;
				background-color: #e0e0e0;
				resize: none;
			}
			.feedback-button {
				width: 119px;
				height: 48px;
				margin: 24px 0 36px;
				background-color: #ff5a00;
				display: block;
				clear: both;
				float: right;
				border: none;
				color: white;
				font-size: 25px;
				font-weight: 700;
				text-align: center;
				line-height: 48px;
				text-transform: uppercase;
			}
		}
	}
	.google-maps {
		max-width: 769px;
		max-height: 386px;
	    position: relative;
		padding-bottom: 65.25%;
		padding-top: 30px;
		height: 0;
		overflow: hidden;

	    iframe {
		    position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	/*--------------------------------------*/
	/*--------------------------------------*/
	.videogallery-page {
		box-sizing: border-box;
		width: 100%;
		overflow: hidden;
		margin: 0 auto;
		text-align: center;

		.videogallery-title {
			margin: 0 auto;
			text-align: center;
			color: #5786fe;
			font-size: 50px;
			font-weight: 600;
			line-height: 50px;
			text-transform: uppercase;
		}
		.youtube-wideo-wrapper {
			max-width: 551px;
			width: 100%;
			max-height: 299px;
			height: 100%;
			display: block;
			overflow: hidden;
			margin: 23px auto 26px;
			position: relative;
			padding-bottom: 56.25%; /* 16:9 */
			padding-top: 25px;
			height: 0;
			text-align: center;
			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
			border: 1.49px solid #5786fe;
		}
		.page-pagination {
			width: 100%;
			box-sizing: border-box;
			margin: 0 auto;
			text-align: center;

			li {
				display: inline-block;
				margin: 0 3px;

				a {
					font-size: 18px;
					font-weight: 400;
					line-height: 48px;
					color: #5786fe;
					@include transition;

					&:hover {
						color: #f75701;
					}

					.pagination-item {
						color: #f75701;
					}
				}
			}
		}
	}
	/*--------------------------------------*/
}	/*--------------------------------------*/
	.services-more-content {

		.services-item-title {
			float: left;
		    display: inline-block;
		    margin-right: 23px;
		    color: #5786fe;
		    font-size: 50px;
		    font-weight: 600;
		    line-height: 50px;
		    text-align: left;
		    text-transform: uppercase;
		}
		.overflow-block {
			clear: both;
		    box-sizing: border-box;
		    margin-top: 20px;
		    overflow: hidden;
		    float: left;
			.float-img {
				float: left;
				margin: 0 28px 20px 0;
			}
			.overflow-paragraph {
				margin-bottom: 20px;
				text-align: left;
				color: white;
				font: 300 18px / 22px 'Roboto', sans-serif;
			}
		}
		.swiper-container-mobile {
			display: block;
			clear: both;
		}
		.swiper-container-desctop {
			display: none;
			clear: both;
		}
	}
	/*--------------------------------------*/
/*---------------------------------------------------------------------------------*/